.advantages__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 120px;
  margin-bottom: 120px;
  gap: 30px;

  @include vp-1023 {
    padding-top: 80px;
    margin-bottom: 73px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 47px;
  }
}

.advantages__block {
  max-width: 595px;
  min-width: 487px;
  height: 300px;
  flex: 1;
  border: 1px solid $color-border;
  padding-left: 40px;
  padding-right: 44px;
  border-left: 5px solid $color-sky-blue;

  @include vp-1023 {
    height: 360px;
    max-width: 500px;
    min-width: 319px;
    padding-right: 35px;
    margin-bottom: 0;
  }

  @include vp-767 {
    width: 100%;
    max-width: 574px;
    min-height: 340px;
    padding-left: 25px;
    padding-right: 30px;
  }

  @include vp-374 {
    min-width: 270px;
  }
}

.advantages__block:nth-of-type(n+3) {
  @include vp-767 {
    min-height: 325px;
  }
}

.advantages__block svg {
  display: block;
  fill: $color-sky-blue;
  margin-top: 40px;
  margin-bottom: 20px;

  @include vp-1023 {
    margin-top: 39px;
    margin-bottom: 14px;
  }

  @include vp-767 {
    width: 30px;
    margin-top: 30px;
    height: 30px;
    margin-bottom: 14px;
  }
}

.advantages__block:nth-of-type(n+3) svg {
  @include vp-767 {
    margin-bottom: 17px;
  }
}

.advantages__block h3 {
  font-family: $ff-roboto-condensed;
  font-size: $font-size-tall;
  line-height: $line-height-more;
  font-weight: $font-weight-regular;
  color: $color-sky-blue;
  margin: 0;
  margin-bottom: 15px;

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    font-size: $font-size-average;
    line-height: $line-height-solid;
    margin-bottom: 10px;
  }
}

.advantages__block:nth-of-type(n+3) h3 {
  @include vp-767 {
    margin-bottom: 15px;
  }
}

.advantages__block p {
  font-family: $ff-pt-mono;
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: $color-black-pearl;
  margin: 0;
  margin-bottom: 35px;

  @include vp-1023 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    font-size: $font-size-small;
    line-height: $line-height-standart;
  }
}

.advantages__block:hover,
.advantages__block:focus {
  background-color: $color-sky-blue;
  border: 1px solid $color-sky-blue;
  padding-left: 44px;

  @include vp-767 {
    padding-left: 29px;
  }
}

.advantages__block:hover svg,
.advantages__block:focus svg {
  fill: $color-font-white;
}

.advantages__block:hover h3,
.advantages__block:focus h3,
.advantages__block:hover p,
.advantages__block:focus p {
  color: $color-font-white;
}
