.contacts {
  margin-right: 30px;

  @include vp-1023 {
    margin-right: 7px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.contacts--closed .contacts__list {
  @include vp-767 {
    display: none;
  }
}

.contacts--closed .contacts__toggle::before,
.contacts--opened .contacts__toggle::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 1px;
  left: 0;
  background-color: $color-footer-mobile;
}

.contacts--closed .contacts__toggle::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 16px;
  top: 0;
  background-color: $color-footer-mobile;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 30px;

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.contacts__item {
  max-width: 315px;
  margin-bottom: 7px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item p {
  font-family: $ff-pt-mono;
  font-size: $font-size-default;
  line-height: $line-height-default;
  color: rgba($color: $color-default-white, $alpha: 0.7);
  margin: 0;

  @include vp-767 {
    font-size: $font-size-small;
    line-height: $line-height-mini;
    margin-bottom: 10px;
  }
}

.contacts__item a {
  font-family: $ff-pt-mono;
  font-size: $font-size-default;
  line-height: $line-height-normal;
  color: rgba($color: $color-default-white, $alpha: 0.7);

  @include vp-767 {
    font-size: $font-size-small;
  }
}

.contacts--nojs .contacts__toggle {
  display: none;
}

.contacts--nojs .contacts__list {
  @include vp-767 {
    display: block;
  }
}
