.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 145px;
  margin-left: 15px;
}

.logo span {
  padding-top: 3px;
}

.logo__title {
  font-family: $ff-roboto-condensed;
  font-size: $font-size-big;
  line-height: $line-height-average;
  font-weight: $font-weight-bold;
  color: $color-font-white;
  margin: 0;
}

.logo__text {
  font-family: $ff-roboto;
  font-size: $font-size-tiny;
  line-height: $line-height-tiny;
  color: rgba($color: $color-default-white, $alpha: 0.7);
  margin: 0;
}
